body {
    background-color: white
}
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: #000
}

.main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-justify: auto;
}
.img-circle {
    border-radius: 50%;
}

.author-image {
    height: auto;
    width: auto;
    max-height: 300px;
    padding-bottom: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.containerone {
    height: 100%;
    padding-bottom: 20%;
    }
.containertwo {
    background-color:rgb(243, 243, 243)
}

#avatar {    
    /* make a square container */
    width: 300px;
    height: 300px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}

.fadeOut{
    visibility: hidden;
    opacity: 0; 
   -webkit-transition: all 1s ease-out;
         -moz-transition: all 1s ease-out;
          -ms-transition: all 1s ease-out;
           -o-transition: all 1s ease-out;
              transition: all 1s ease-out;
    transform: translate(0,-50px);
    -webkit-transform: translate(0,-50px);
    -o-transform: translate(0,-50px); 
    -moz-transform: translate(0,-50px);
    text-align: center;
  }

.thumbnail {
	display: inline-block;
	width: 25%;
	height: 25%;
  font-weight: 100;
  font-size: 1em;
}

.thumbnail-text {
    font-size:2em;
    text-align: center;
}

.btn {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 5px;
}

p {
    margin-left: 10px;
}

.containertwo {
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }