/*
* {
  outline: 1px red solid !important;
}
*/

.card {
  width: 30rem;
}

body {
  background-color: rgb(250, 250, 250);
}

#bio {
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

#bio a {
  font-weight: 600;
  color: black;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

#bio a:hover {
  color: red;
}

#bio-hr {
  margin-left: 25%;
  margin-right: 25%;
}

#bio-links a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.76);
  font-family: 'Montserrat', sans-serif;
  padding-right: 0.75%;
  font-size: 1em;
}

#bio-links a:hover {
  color: red;
}

.bio-icons a {
  color: black;
  font-size: 1.25em;
  padding: 0.5%;
}

.bio-icons a:hover {
  color: red;
  text-decoration: none;
}

.main {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-justify: auto;
}

.img-circle {
  border-radius: 50%;
}

.author-image {
  height: auto;
  width: auto;

  /*
  max-height: 450px;
  padding-bottom: 10px;*/
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#avatar {
  /* make a square container */
  /*300px*/
  width: 30%;
  height: 30%;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 5%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: red !important;
  background-color: gray;
}

.btn-primary {
  background-color: gray;
  border-color: gray;
  font-family: 'Montserrat', sans-serif;
  color: white;
  outline: none;
  margin: 5px;
}

.btn {
  background-color: gray;
  font-family: 'Montserrat', sans-serif;
  color: white;
  outline: none;
  margin: 5px;
}

/* containers */

.containerone {
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 100%;
  width: 100%;
  padding-bottom: 20%;
}

#footer-bar {
  background-color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2%;
}

#footer-bar .btn {
  background-color: rgb(240, 240, 240);
}

#footer-bar .btn:hover {
  color: red;
}

#footer-bar .fab {
  color: rgb(25, 25, 25);
  font-size: 2em;
}

#footer-bar .fab:hover {
  color: red;
}

#footer-bar a {
  color: black;
}

.experience-list {
  padding-left: 0;
}

.title {
  text-align: center;
  font-family: 'Scope One', serif;
  font-size: 3em;
  font-weight: 400;
  color: #000;
  margin: 2%;
  display: inline;
  padding-top: 2%;
}

.title-slide {
  text-align: center;
  font-family: 'Scope One', serif;
  font-size: 2em;
  font-weight: 400;
  color: #000;
  display: inline;
  padding-top: 10px;
}

#bio {
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

#bio a {
  font-weight: 600;
  color: black;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

#bio a:hover {
  color: red;
}

#bio-hr {
  margin-left: 25%;
  margin-right: 25%;
}

#bio-links a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.76);
  font-family: 'Montserrat', sans-serif;
  padding-right: 0.75%;
  font-size: 1em;
}

#bio-links a:hover {
  color: red;
}

.bio-icons a {
  color: black;
  font-size: 1.25em;
  padding: 0.5%;
}

.bio-icons a:hover {
  color: red;
  text-decoration: none;
}

.main {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-justify: auto;
}

.img-circle {
  border-radius: 50%;
}

.author-image {
  height: auto;
  width: auto;
  max-height: 450px;
  padding-bottom: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#avatar {
  /* make a square container */
  width: 300px;
  height: 300px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 5%;
}
.thumbnail {
  display: inline-block;
  width: 25%;
  height: 25%;
  font-weight: 100;
  font-size: 1em;
}

.thumbnail-text {
  font-size: 2em;
  text-align: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: red !important;
  background-color: gray;
}

.btn-primary {
  background-color: gray;
  border-color: gray;
  font-family: 'Montserrat', sans-serif;
  color: white;
  outline: none;
  margin: 5px;
}

.btn {
  background-color: gray;
  font-family: 'Montserrat', sans-serif;
  color: white;
  outline: none;
  margin: 5px;
}

/* containers */

.containerone {
}

.containertwo {
  background: #1abc9c;
}

.containerthree {

}

.containerfour {
}

.containerfive {

}

.card-deck {
  margin: 1%;
  padding-bottom: 1%;
}

.code-title {
  font-weight: 400;
  margin: 2%;
  font-family: 'Scope One', serif;
}

.education-text {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  margin: 5%;
}

.code-image {
  width: 360px;
  height: 360px;
}

.code-text {
  font-size: 1.5em;
  margin: 1%;
}

.code-item {
  overflow: hidden;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top: 1%;
  margin: 2%;
  /*width: 75%;
  height: 75%;*/
}

#footer-bar {
  background-color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2%;
}

#footer-bar .btn {
  background-color: rgb(240, 240, 240);
}

#footer-bar .btn:hover {
  color: red;
}

#footer-bar .fab {
  color: rgb(25, 25, 25);
  font-size: 2em;
}

#footer-bar .fab:hover {
  color: red;
}

#footer-bar a {
  color: black;
}

.experience-list {
  padding-left: 0;
}

/* timeline */

.time {
  font-weight: bold;
  font-family: 'Scope One', serif;
  text-align: center;
  font-size: 1.25em;
}

.experience-date {
  text-align: center;
  font-weight: 50;
  font-family: 'Montserrat', sans-serif;
}

.experience-text {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
}

body,
html {
  height: 100%;
}

@media all and (max-width: 750px) and (min-width: 451px) {
  #bio {
   margin-left: 5%;
   margin-right: 5%;
   font-size: 0.85em;
  }
}

@media all and (max-width: 10px) and (min-width: 450px){
  #bio {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.75em;
  }
}