/*
* {
  outline: 1px red solid !important;
}
*/
body {
    background-color: white
}
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: #000;
    margin: 2%;
}

.title-change {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
}

.main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-justify: auto;
}
.img-circle {
    border-radius: 50%;
}

.author-image {
    height: auto;
    width: auto;
    max-height: 300px;
    padding-bottom: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.containerone {
    height: 100%;
    padding-bottom: 20%;
    }


#avatar {    
    /* make a square container */
    width: 300px;
    height: 300px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}

.fadeOut{
    visibility: hidden;
    opacity: 0; 
   -webkit-transition: all 1s ease-out;
         -moz-transition: all 1s ease-out;
          -ms-transition: all 1s ease-out;
           -o-transition: all 1s ease-out;
              transition: all 1s ease-out;
    transform: translate(0,-50px);
    -webkit-transform: translate(0,-50px);
    -o-transform: translate(0,-50px); 
    -moz-transform: translate(0,-50px);
    text-align: center;
  }

.thumbnail {
	display: inline-block;
	width: 25%;
	height: 25%;
  font-weight: 100;
  font-size: 1em;
}

.thumbnail-text {
    font-size:2em;
    text-align: center;
}

.btn {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 5px;
}

.containertwo {
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color:rgb(243, 243, 243)
    }

.containerthree{
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color:rgb(243, 243, 243)
  
}

.code-title {
    font-weight: 400;
    margin: 2%;

}

.education-text {
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Alegreya', serif;
  margin: 5%;

}



.containerFour {
    margin: 1%;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color:rgb(243, 243, 243)
  }

.education-image {
  height=30%;
  width=30%;
}

.code-image {
    height: 65%;
    width: 65%;
}

.code-text {
  font-size: 1.5em;
  margin: 1%;
}

.code-item {
  overflow: hidden;
}

.experience-list {
  padding-left:0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

time {
  text-align: center;
}