/*
* {
  outline: 1px red solid !important;
}
*/
body {
    background-color: white
}
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: #000;
    margin: 2%;
}

.title-change {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
}

.main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-justify: auto;
}
.img-circle {
    border-radius: 50%;
}

.author-image {
    height: auto;
    width: auto;
    max-height: 300px;
    padding-bottom: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.containerone {
    height: 100%;
    padding-bottom: 20%;
    }


#avatar {    
    /* make a square container */
    width: 300px;
    height: 300px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}

.fadeOut{
    visibility: hidden;
    opacity: 0; 
   -webkit-transition: all 1s ease-out;
         -moz-transition: all 1s ease-out;
          -ms-transition: all 1s ease-out;
           -o-transition: all 1s ease-out;
              transition: all 1s ease-out;
    transform: translate(0,-50px);
    -webkit-transform: translate(0,-50px);
    -o-transform: translate(0,-50px); 
    -moz-transform: translate(0,-50px);
    text-align: center;
  }

.thumbnail {
	display: inline-block;
	width: 25%;
	height: 25%;
  font-weight: 100;
  font-size: 1em;
}

.thumbnail-text {
    font-size:2em;
    text-align: center;
}

.btn {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 5px;
}

.containertwo {
    margin: 1%;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color:rgb(243, 243, 243)
    }

.code-title {
    font-weight: 400;
    margin: 2%;

}

.education-text {
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Alegreya', serif;
  margin: 5%;

}



.containerFour {
    margin: 1%;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color:rgb(243, 243, 243)
  }

.education-image {
  height=30%;
  width=30%;
}

.code-image {
    height: 65%;
    width: 65%;
}

.code-text {
  font-size: 1.5em;
  margin: 1%;
}

.code-item {
  overflow: hidden;
}

.experience-list {
  padding-left:0;
}


/* The Timeline - Experience Page */
.timeline {
    position: relative;
    max-width: 100%;
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    left: 35%;
    padding-top: 2%;
  }
  .timeline:before {
    background: #11abb0;
    content: '';
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    left: 10px;
  }
  .timeline-event {
    position: relative;
  }
  .timeline-event:hover .timeline-event-icon {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #ed5565;
  }
  .timeline-event:hover .timeline-event-thumbnail {
    -moz-box-shadow: inset 40em 0 0 0 #ed5565;
    -webkit-box-shadow: inset 40em 0 0 0 #ed5565;
    box-shadow: inset 40em 0 0 0 #ed5565;
  }
  .timeline-event #workplace{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
  }
  .timeline-event:hover  #workplace{
    color: #4f83f2;
  }
  .timeline-event-copy {
    left: 50px;
    padding: 32px 32px 0;
    position: relative;
    top: -32px;
    width: 100%;
  }
  .timeline-event-copy p:not(.timeline-event-thumbnail) {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 0px;
  }
  .timeline-event-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
    outline: 10px solid white;
    display: block;
    margin: 8px 8px 8px -8px;
    position: absolute;
    top: 0;
    left: 32px;
    width: 16px;
    height: 16px;
  }
  .timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    -moz-box-shadow: inset 0 0 0 0em #11abb0;
    -webkit-box-shadow: inset 0 0 0 0em #11abb0;
    box-shadow: inset 0 0 0 0em #11abb0;
    background: none repeat scroll 0 0 #ed5565;
    box-shadow: 0 0 0 0 #11abb0 inset;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 8px 15px;
    transition: box-shadow 0.5s ease-in 0.1s;
  }
  #workplace {
    font-size: 38px;
  }
  #jobPos {
    font-size: 2.5rem;
    width: 50%;
    font-family: 'Alegreya', serif;
  }
  #jobDesc {
    font-size: 2rem;
    width: 50%;
    font-family: 'Alegreya', serif;
  }

  #liveDemo {
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    display: inline;
    padding-right: 10%;
    padding-left: 20%;
    color: #002b80;
  }
  #sourceCode {
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    display: inline;
    color: #002b80;
  }
  .view {
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    color: #002b80; 
  }
  
  /* 
  background scroll effects only work in desktop versions with larger   screen sizes, preventing background images from getting distorted in smaller tablets, phones, etc.  
  */
  @media (min-width:1400px)   {
    .pageOne, .pageTwo, .pageThree, .pageFour, .pageFive {
          background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center; 
     }
  }
  
  /*mobile screens */
  @media (max-width: 800px) and (min-width: 300px) {
    img {
      width: 30vw; 
      height: 30vh;
    }
    h1 {
      font-size: 14vw;
    }
    h2 {
      font-size: 8vw;
    }
    h3 {
      font-size: 6vw;
    }
    p {
      font-size: 6vw;
    }
    .skill {
      font-size: 5vw;
    }
    ul {
      font-size: 4.5vw;
      width: 80%;
    }
    #pageTwoLabel {
      font-size: 13vw;
    }
    .pageOne {
      background-size: 100% 100%;
      height: 450px;
    }
    .title {
      padding-bottom: 10px;
      width: 90%;
      top: 100px;
    }
    .border {
      width: 25%;
      border-width: 2px;
    }
    /* CV and contact buttons */
    .CV,.contact {
      top: 110px;
      position: relative;
      padding-bottom: 10px;
    }
    /* self intro background configuration */
    .self-intro { 
      padding-top: 40px;
    }
    /* paragraph self-intro */
    #self-intro {
      width: 80%;
      font-size: 5vw;
      padding-bottom: 40px;
    }
    #borderText {
      font-size: 5.5vw;
    }
    #jobPosition {
      font-size: 6.5vw;
    }
    /*skill category title */
    #pageTwoLabel {
      font-size: 10vw;
      padding-bottom: 10px;
    }
    #footer {
      font-size: 3vw;
    }
    /* Timeline Configuration */
    .timeline {
      left: 0;
    }
    /*Year*/
    .timeline-event-thumbnail {
      font-size: 3.5vw;
    }
    .timeline:before {
      width: 2px;
    }
    #workplace {
      font-size: 8vw;
    }
    #jobPos {
      font-size: 6vw;
    }
    #jobDesc {
      font-size: 5vw;
      width: 100%;
    }
    #liveDemo {
      padding-left: 5%;
      padding-right: 14%;
      font-size: 5.5vw;
    }
    #sourceCode {
      font-size: 5.5vw;
    }
    .view {
      font-size: 5.5vw;
    }
    #techUsed {
      font-size: 5vw;
    }
  }
  
  /*ipad screens*/
  @media (max-width: 1000px) and (min-width: 600px) {
    img {
      width: 30vw; 
      height: 30vh;
    }
    h1 {
      font-size: 8vw;
    }
    h2 {
      font-size: 6vw;
    }
    h3 {
      font-size: 4vw;
    }
    p {
      font-size: 4vw;
    }
    .skill {
      font-size: 3vw;
    }
    ul {
      font-size: 3.5vw;
      width: 80%;
    }
    #pageTwoLabel {
      font-size: 10vw;
    }
    .pageOne {
      background-size: 100% 100%;
      height: 500px;
    }
    .title {
      padding-bottom: 10px;
      width: 90%;
      top: 50px;
    }
    .border {
      width: 25%;
      border-width: 2px;
    }
    /* CV and contact buttons */
    .CV,.contact {
      top: 100px;
      position: relative;
    }
    /* self intro background configuration */
    .self-intro { 
      padding-top: 40px;
    }
    /* paragraph self-intro */
    #self-intro {
      width: 80%;
      font-size: 3vw;
    }
    #borderText {
      font-size: 3.5vw;
    }
    #jobPosition {
      font-size:4.5vw;
    }
    .pageTitles {
      width: 85%;
    }
    #pageTitle {
      font-size: 9vw;
    }
    /*skill category title */
    #pageTwoLabel {
      font-size: 6vw;
      padding-bottom: 10px;
    }
    #footer {
      font-size: 3vw;
    }
    /* Timeline Configuration */
    .timeline {
      left: 0;
    }
    /*Year*/
    .timeline-event-thumbnail {
      font-size: 2.5vw;
    }
    .timeline:before {
      width: 2px;
    }
    #workplace {
      font-size: 6vw;
    }
    #jobPos {
      font-size: 4vw;
    }
    #jobDesc {
      font-size: 3vw;
      width: 100%;
    }
    #liveDemo {
      padding-left: 15%;
      padding-right: 20%;
      font-size: 4vw;
    }
    #sourceCode {
      font-size: 4vw;
    }
    .view {
      font-size: 4vw;
    }
    #techUsed {
      font-size: 3.5vw;
    }